.modal{
    margin-top:0px;
}
/* .modal-body > form {
    padding-top: 0px;
} */
.modal-title{
    /* padding-bottom: 0px; */

}
.modal-body > .form > .form-group {
    /* margin-bottom: 0px; */
}
.modal-body > .form > .row > div > .form-group {
    /* margin-bottom: 10px; */
}
.form-control {
    margin-bottom:0px;
}
.modal-header{
    padding-bottom: 0px;
}
/* .modal-body{
    padding-top:0px
} */
.modal-footer{
    /* padding:5px 20px 20px 20px; */
    /* margin-right: 20px; */
}
.modal-body > .form > .form-group > input::placeholder {
    color:rgb(9, 9, 112)
}
.modal-body > .form > .row > div > .form-group > input::placeholder {
    color:rgb(9, 9, 112);
}