.container-fluid{
    padding:0px;
    margin:0px;
}

.row-home {
    padding-top: 100px;
}

.column1 {
    background-color: rgb(9, 9, 112);
    color: #ffffff;
    border-radius: 5px;
}
.column1 > div {
    padding-left: 5px;
    padding-top: 20px; 
}
.column2 {
    background-color: rgb(9, 9, 112);
    color: #ffffff;
    margin-left: 10px;
    padding: 0px;
    border-radius: 5px;
}

.column3 {
    background-color: rgb(9, 9, 112);
    color: #ffffff;
    margin-left: 10px;
    border-radius: 5px;
}

.list {
    list-style:none;
    padding-left: 5px;
    padding-top: 20px;  
}
.list > li {
    margin-top: 10px;
}
.fa-chevron-right{
    font-size:small;
}

.get-started {
    text-align: center;
    margin-top:10px;

}
.get-started-link {
    color:#ffffff;
    background-color:rgb(9, 9, 112) ;
    text-align: center;
    padding:5px;
    border-radius: 25px;
   
}
.get-started-link:hover{
    text-decoration: none;
    color:rgb(9, 9, 112);
    background-color:#ffffff ;
}

@media(max-width:670px) {
    .row {
        padding-top: 5px;
    }

    .column2 {
        margin: 0px;
    }
    .get-started {
        position: absolute;
        z-index: 1;
        top:50%;
        left:30%;
    }
    .column3{
        margin-left: 0px;
    }
    
}
.dntHaveAccount{
    margin-left: 10%;
    font-size: small;
}

.dntHaveAccount > a{
    color:purple;
}
.dntHaveAccount > a:hover{
    color:rgb(127, 127, 214);
    text-decoration: none;
}