@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.navbar{
    background-color: rgb(9, 9, 112);

}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-brand {
    color: rgba(255,255,255,.9);
}
.mr-auto{
  margin-left: 87%;
}
@media(max-width:670px) {
    .mr-auto{
        margin-left: initial;
    }

}
.fa-users {
    font-size: 18px;
}

img.logo{
    background-color: #ffffff;
    padding:5px;
    border-radius: 50%;
}
